---
layout: blogs
---

          
{{ content }}

<div class="ds-thread" data-thread-key="{{ page.duoshuoid }}" data-title="{{ page.title }}" data-url="{{site.url}}{{ page.url }}"></div>

	    <ul class="pager">
		{% if page.previous %}
		<li class="previous"><a href="{{ page.previous.url }}">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a></li>
		{% endif %}
		{% if page.next %}
		<li class="next"><a href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a></li>
		{% endif %}
	    </ul>
