<!DOCTYPE html>
<html class="ready" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Kylin Soong · Blog</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/atom.xml" rel="alternate" title="Kylin Soong blog Atom feed" type="application/atom+xml">
    <link href="{{ "/css/screen.css" | prepend: site.baseurl }}" rel="stylesheet">
    <script async="" src="{{ "/css/cbgapi.js" | prepend: site.baseurl }}"></script>
    <script async="" src="{{ "/css/cbgapi_002.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/css/ga.js" | prepend: site.baseurl }}" async="" type="text/javascript"></script>
    <script gapi_processed="true" src="{{ "/css/plusone.js" | prepend: site.baseurl }}" async=""></script>
    <script src="{{ "/css/jquery.js" | prepend: site.baseurl }}"></script>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
    <![endif]-->
    <link href="/favicon.ico" rel="shortcut icon">
  <script src="{{ "/css/count.js" | prepend: site.baseurl }}" async=""></script>
  <script src="{{ "/css/count-data.js" | prepend: site.baseurl }}" async=""></script></head>
  <body class="blog index">
    <header class="navbar navbar-fixed-top" id="banner" role="banner">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="g-plusone-slot">
            <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 38px; height: 24px;"></div>
          </div>
          <a class="brand" href="/">
            <span class="logo"></span>
            <span class="name">ksoong</span>
          </a>
          <nav class="nav-collapse" role="navigation">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/archive">Archive</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div style="min-height: 250px;" id="main" role="main">
      
{{ content }}

    </div>
    <footer>
      <div class="container">
        <div class="project">
          <p class="bottom">
            ©
            Copyright 2009-2014 Red Hat, Inc.
            <br>
            <i class="icon-fire"></i>
            Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>.
            <br>
            <i class="icon-share-alt"></i>
            Website and docs licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
            <br>
            Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
          </p>
        </div>
        <div class="footer-nav">
          <h4>Learn</h4>
          <ul>
            <li>
              <a href="http://www.jboss.org/">JBoss</a>
            </li>
            <li>
              <a href="http://infinispan.org/">Infinispan</a>
            </li>
            <li>
              <a href="http://teiid.org/">Teiid</a>
            </li>
            <li>
              <a href="https://github.com/kylinsoong">Github</a>
            </li>
          </ul>
        </div>
        
        <div class="sponser">
          <div class="follow-us">
            <h4>Stay Informed</h4>
            <ul>
              <li>
                <a href="http://www.weibo.com/kylinsoong"><img alt="Weibo" src="{{ "/css/weibo_logo.jpg" | prepend: site.baseurl }}" title="Follow kylinsoong on Weibo"></a>
              </li>
            </ul>
          </div>
          
        </div>
        <a class="visible-desktop" href="#" id="toTop">Top</a>
      </div>
    </footer>
    <script>
      $(function() {
        $('html').addClass('ready');
        prettify();
        activateFooterGravity();
        activateTooltips();
        activateToTopControl();
      });
    </script>
    <script src="{{ "/css/bootstrap.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/css/prettify.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/css/site.js" | prepend: site.baseurl }}"></script>
    <script>
      (function() {
        var po = document.createElement('script'); po.async = true; po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount','UA-18727998-3']);
    _gaq.push(['_trackPageview']);
    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  

<iframe tabindex="-1" style="width: 1px; height: 1px; position: absolute; top: -100px;" src="Arquillian%20Blog%20%C2%B7%20Arquillian_files/postmessageRelay.html" id="oauth2relay700538555" name="oauth2relay700538555"></iframe></body><iframe src="" style="display: none;"></iframe></html>
