<!DOCTYPE html>
<html class="ready" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/feed.xm" rel="alternate" title="{{ site.title }} Atom feed" type="application/atom+xml">
    <link href="{{ "/css/screen.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
    <![endif]-->
    <link href="/favicon.ico" rel="shortcut icon">

</head>

  <body class="blog index">
    <header class="navbar navbar-fixed-top" id="banner" role="banner">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
            <span class="logo"></span>
            <span class="name">ksoong</span>
          </a>
          <nav class="nav-collapse" role="navigation">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/lab">Labs</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/archive">Archive</a></li>
              <li><a href="/slide">Slides</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div style="min-height: 250px;" id="main" role="main">
      
{{ content }}

    </div>
    <footer>
      <div class="container">
        <div class="project">
          <p class="bottom">
            ©
            Copyright 2009-2014 ksoong.
            <br>
            <i class="icon-fire"></i>
            Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>.
            <br>
            <i class="icon-share-alt"></i>
            Website and docs licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
            <br>
            Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
          </p>
        </div>
        <div class="footer-nav">
          <h4>Learn</h4>
          <ul>
            <li>
              <a href="http://www.jboss.org/">JBoss</a>
            </li>
            <li>
              <a href="http://infinispan.org/">Infinispan</a>
            </li>
            <li>
              <a href="http://teiid.org/">Teiid</a>
            </li>
            <li>
              <a href="https://github.com/kylinsoong">Github</a>
            </li>
          </ul>
        </div>
        
        <div class="sponser">
          <div class="follow-us">
            <h4>Stay Informed</h4>
            <ul>
              <li>
                <a href="https://plus.google.com/103933729718268414460?rel=author"><img alt="Google+" src="{{ "/css/googleplus-16.png" | prepend: site.baseurl }}" title="Follow ksoong.org on Google+"></a>
              </li>
              <li>
                <a href="http://www.weibo.com/kylinsoong"><img alt="Weibo" src="{{ "/css/weibo_logo.jpg" | prepend: site.baseurl }}" title="Follow me on Weibo"></a>
              </li>
	      <li>
                <a href="https://github.com/kylinsoong"><img alt="Github" src="{{ "/css/Octocat.jpg" | prepend: site.baseurl }}" title="Fork me on Github"></a>
              </li>

            </ul>
          </div>
          
        </div>
        <a class="visible-desktop" href="#" id="toTop">Top</a>
      </div>
    </footer>
  
    
    <script src="{{ "/css/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/css/bootstrap.js" | prepend: site.baseurl }}"></script>

   <script>
      $(function() {
        $('html').addClass('ready');
        prettify();
        activateFooterGravity();
        activateTooltips();
        activateToTopControl();
      });
    </script>
    <script src="{{ "/css/site.js" | prepend: site.baseurl }}"></script>

    {% if site.disqus.config %}
        <script type="text/javascript">
            //disqus
            var disqus_shortname = '{{ site.disqus.id }}';
            (function() {
                var dsq = document.createElement('script'); 
                dsq.type = 'text/javascript'; 
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        {% else %}
            {% if site.duoshuo.config %}
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"{{ site.duoshuo.id }}"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            {% endif %}
        {% endif %}


</body>
</html>
